
body {
    font: 18px 'Arial Narrow', Arial, sans-serif;
    background-image: url("../img/full/11thstreetkids.jpg");
    background-size: cover;
    background-position: center 10%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); 
    z-index: -1;
}

/* Judul */
h1 {
    font-size: 80px;
    color: #ddd;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 2px red;
}

/* Kotak galeri */
.container {
    width: 1060px;
    background-color: rgba(13, 68, 32, 0.9);
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    border: 5px solid rgb(18, 86, 18);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* Thumbnail */
.gallery li {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 5px solid rgb(24, 94, 46);
    float: left;
    margin-right: 20px;
    position: relative;
    border-radius: 50%;
}

.gallery li img {
    border-radius: 50%;
}

/* Hover name */
.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200,200,200,.5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    border-radius: 50%;
    transform: scale(0) rotate(0);
    transition: .3s;
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.clear {
    clear: both;
}

/* Overlay */
.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0);
    z-index: 9999;
    transition: .8s;
    text-align: center;
    padding: 100px 0;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.7);
}

.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
}

.overlay:target img {
    animation: zoomDanFade 1s;
}

.overlay .close {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -20px;
    color: aliceblue;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    padding: 5px;
    opacity: 0;
}

.overlay:target .close {
    animation: slideDownFade .5s .5s forwards;
}

/* Animasi */
@keyframes zoomDanFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDownFade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}
