body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #4d6b95;
}

.container {
    width: 800px;
    margin: auto;
    background-color: #00539C;
}

header {
    background-color: #00539C;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 24px;
    text-transform: lowercase;
}

nav {
    background-color: #bdbdbd;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    color: #00539C;
}

.hero img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.content {
    background: #e0e0e0;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
}

.content h2 {
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    text-decoration: none;
}
